.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p,
.reg-para {
  text-align: justify;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}
.name {
  color: ;
  font-size: 28px;
  font-weight: bolder;
  color: #0d1321;
}
.btn-header {
  color: #0d1321;
  border-radius: 8px;
  border: 1px solid #0d1321;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.main {
  width: 100%;
  height: auto;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background: url(assets/Hero-bg.png);
  background-repeat: round;
  height: 652px;
  margin-top: 0;
}
.banner-content {
  margin: 32px 221px 45px 221px;
}
.banner-title {
  font-size: 48px;
  font-weight: bolder;
}
.banner-para {
  font-size: 16px;
  font-weight: 400;
  margin: 0 73px;
}
.btn-banner {
  margin-top: 32px;
  color: white;
  border-radius: 8px;
  background-color: #0d1321;
  height: 65px;
  width: 224px;
  font-size: 600;
  font-size: 20px;
}

.btn-banner a {
  text-decoration: none;
  color: #cacaca;
}
/* web-development */
.web-development,
.My-Inspiration,
.My-Current-Target {
  margin: 74px 152px 45px 148px;
  background-color: rgba(13, 19, 33, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 97px;
}

.header-title {
  color: #0d1321;
}
.main-title {
  font-size: 32px;
  font-weight: bolder;
}
.main-para {
  font-size: 16px;
  font-weight: 400;
  padding: 0 48px;
}

.do-coding,
.help-people,
.change-world {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 48px;
  margin: 32px 0;
}

.reg-heading {
  width: 390px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.reg-para {
  width: 468px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 32px;
}

.reg-btn {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #0d1321;
}

.do-coding > img {
  width: 274px;
}

.help-people > img {
  width: 240px;
}
.content {
  max-width: 50%;
  text-align: left;
}

.content h3,
.content p,
.content button {
  text-align: left;
}

.help-people > .content {
  float: left;
}

/* My-Inspiration */
.My-Inspiration {
  margin-top: 20px;
  padding: 0px;
}
.video {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  padding: 32px;
}

.My-Inspiration .main-para {
  padding: 0 144px;
}
iframe {
  border-radius: 10px;
}

.My-Current-Target {
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: rgba(252, 252, 252, 0.02);
}
.skills {
  border: 1px solid white;
  margin: 48px 152px 45px 148px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: left;
  gap: 24px;
}
.html {
  padding: 40px;
  border-radius: 16px;
  background-color: rgba(255, 76, 30, 0.05);
}
.html a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.css {
  background-color: rgba(0, 76, 232, 0.05);
}
.js {
  background-color: rgba(255, 223, 0, 0.05);
}
.skill-header {
  font-size: 24px;
  font-weight: bolder;
}
.skill-para {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.My-Next-Target {
  margin-top: 0;
  padding-top: 0;
}

.technology {
  border: 1px solid #cacaca;
  border-radius: 10px;
  margin: 24px 150px;
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.technology img {
  width: 95px;
  margin-right: 20px;
}

.tech-cont {
  width: auto;
  text-align: left;
}

.tech-cont > .skill-header {
  font-weight: bolder;
  font-size: 24px;
}
.i-need-support {
  padding: 64px 48px;
  border: #fff;
  border-radius: 16px;
  background: url(assets/handshake.jpg) no-repeat center center/cover,
    rgba(182, 182, 182, 0.24);
}

.i-need-support > .container > .header-title {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

.i-need-support .main-para {
  padding: 0 219px;
  font-size: 16px;
  font-weight: 400;
}
.submit {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 684px;
  text-align: center;
}
.submit input {
  width: 548px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  border: #fff;
  border-radius: 8px;
  margin-right: 15px;
}
.submit button {
  width: auto;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  border-radius: 8px;
  border: #fff;
}
.sub {
  /* height: 57px; */
}
footer {
  background-color: #f9f9f9;
  display: flex;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 150px;
  margin-top: 80px;
  text-align: left;
  border-top: 1px solid #eaeaea;
}

footer p.copy-right {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 600;
  display: inline;
}

footer ul {
  display: inline-block;
  float: right;
  padding: 0;
  list-style-type: none;
}

footer ul li.link {
  display: inline-block;
  margin: 0 10px;
}
.link img {
  width: 36px;
  height: 36px;
}
